:root {
    --corFundoUl: #2a2a33;
    --corFundoLinha: #fff;
}

@media screen and (max-width: 64rem) {
    .meuNome {
        font-size: 3rem;
    }

    .titulo_sobreMim,
    .titulo_habilidades,
    .titulo_seçao_projetos,
    .titulo_contato {
        font-size: 3rem;
    }

    .container_topo {
        padding: 0 1rem;
    }

    .menu_icon {
        display: block;
        height: 60px;
        padding: 0.4rem;
        z-index: 3;
    }
    .menu_linha {
        display: inline-block;
        cursor: pointer;
        padding: 0.5rem;
    }
    .menu_linha span {
        display: block;
        height: 5px;
        width: 53px;
        margin-bottom: 10px;
        position: relative;
        background: var(--corFundoLinha);
        border-radius: 50px;
        z-index: 2;
        transition: transform 0.5s ease-out, opacity 0.2s ease-out;
    }
    .menu_linha span:last-child {
        margin-bottom: 0;
    }
    .menu_linha.active span:nth-child(1) {
        transform: translateY(10px) rotate(45deg);
    }
    .menu_linha.active span:nth-child(2) {
        opacity: 0;
    }
    .menu_linha.active span:nth-child(3) {
        transform: translateY(-20px) rotate(-45deg);
    }

    .ul_links {
        position: fixed;
        top: 0;
        right: 0;
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        gap: 1rem;
        flex-direction: column;
        align-items: center;
        transform: translateX(100%);
        transition: 0.5s;
        background-color: var(--corFundoUl);
    }

    .links_menu {
        font-size: 2rem;
    }

    .container_inicio {
        text-align: center;
        justify-content: center;
    }

    .container_redesTopo {
        justify-content: center;
    }

    .img_svg {
        display: none;
    }

    .paragrafo_foto_sobreMim {
        flex-direction: column;
        align-items: center;
        gap: 3rem;
        text-align: center;
    }

    .paragrafo_sobreMim {
        width: 80%;
    }
}

@media screen and (max-width: 40.625rem) {
    .container_footer {
        flex-direction: column;
    }

    .formulario,
    .redes_social {
        width: 100%;
    }
}

@media screen and (max-width: 34rem) {
    .meuNome {
        font-size: 2.5rem;
    }

    .titulo_sobreMim,
    .titulo_habilidades,
    .titulo_seçao_projetos,
    .titulo_contato {
        font-size: 2.5rem;
    }

    .profissão {
        font-size: 1.4rem;
    }

    .container_linguagens {
        grid-template-columns: repeat(2, 1fr);
    }

    .repositorio_maisProj {
        font-size: 1.4rem;
    }
}
